{% extends 'master.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
  <title>Update Notes</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

</head>

<body>

  <!--  BEGIN CONTENT AREA  -->
  <div id="content" class="main-content">
    <div class="layout-px-spacing">




      <!-- Modal -->

      <div class="modal fade" id="notesMailModal" tabindex="-1" role="dialog" aria-labelledby="notesMailModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">

              <div class="notes-box">
                <div class="notes-content">
                  <form method="POST" action="" enctype="multipart/form-data" style="margin-top: 1.3em;" id="notesMailModalTitle">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-12">
                        {{ form.title|as_crispy_field }}
                      </div>

                      <div class="col-md-12">
                        {{ form.description|as_crispy_field }}
                      </div>
                      <div class="col-md-12">

                        {{ form.tags|as_crispy_field }}
                      </div>
                      <div class="col-md-12">
                        {{ form.favourites|as_crispy_field }}
                      </div>

                    </div>

                    <div class="modal-footer">
                      <button class="btn btn-primary" type="submit" class="btn">Save</button>
                      <a class="btn btn-info" href="{% url 'Notes' %}" role="button">Cancel</a>
                    </div>

                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Modal End -->




    </div>
    <!--  END CONTENT AREA  -->

  </div>
  <!-- END MAIN CONTAINER -->
  <script type="text/javascript">
    $(document).ready(function() {
      $('#notesMailModal').modal('show');
    })
  </script>

</body>

</html>
{%endblock content%}
